html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #393939;
  color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 480px) {
    .home_main_panel {
        margin-top: 130px;
    }

    .bottom {
      position: static;
      bottom: -130px;
    }
}

@media screen and (min-width: 480px) {
    .bottom {
      position: absolute;
      bottom: 0px;
    }
}

@media screen and (min-width: 1000px) {
  .topSpacer {
    margin-top: 30px;
  }
}

a {
  outline: 0;
}

.rightPadding {
  margin-right: 80px;
}

.rightPadding li {
  margin-right: 20px;
}

.topSpacer {
  margin-top: 30px;
}

.home_main_panel {
  height: 550px;
  position: relative;
  /* overflow-x: visible; */
}

.page-header {
  background-color: white;
}

.smallEvent {
  margin-top: 7px;
}

.smallEvent:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.transparent {
  opacity: 1;
  /*background-color: transparent; */

}

.ridgeBordered {
  border: ridge;
  padding: 10px;
}

.somePadding {
  padding: 5px;
}


.bulletlessList {
  list-style-type: none;
  padding: 10px;
}
