
.smallEventsBar {
  background-color: #393939;
}

.smallEventsPanel {
 min-height: 100px;
 margin-top: 20px;
 /*background-color: #393939; */
 /*display: flex;
 flex-direction: column;
 justify-content: flex-end; */
 padding-bottom: 10px;
 border-left: 15px solid #393939;
 animation: fadeInFromBottom;
 animation-duration: 1s;

}

.smallEvent {
  color: black;
}

.smallEvent:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.page-header {
  background-color: white;
}

.headerWhite  {
  margin-top: 150px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.btnLearnMore {
  width: 200px;
  border-radius: 25px;

}

.panel-heading {
  height: 30px;
}

@keyframes fadeInFromBottom {
    from {
      opacity: 0;
      bottom: -100px;
    }
    to   {
      opacity: 1;
      bottom: 0;
    }
}