.paginationTab {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 6px;
	text-align: center;
	vertical-align: middle;
	margin-left: 4px;
	cursor: pointer;
}

.paginationTabActive {
	background-color: #f4f4f4;
	color:   #666464;
}
